<div class="panel">
    <!--division for panel-->
    <div class="panel-heading">{{title}}</div>
    <!--division for panel heading-->
    <div class="panel-body">
        <!--division for panel body-->
        <div class="table-responsive">
            <!--division for table responsive-->
            
            <button  (click)="loadProduct()"  >Get Info</button>
          
            <table class="table">
               
                <thead>
                    <tr>

                        <th>ID</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prod of products">
                        <td>{{prod.id}}</td>
                        <td>{{prod.name}}</td>
                        <td>{{prod.price|currency }}</td>
                        <td>{{prod.quantity}}</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>

</div>